@import "Cover";
//@import "Footer";
@import "ArtworkCard";
@import "ColorBox";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.col-xs-10ths,
.col-sm-10ths,
.col-md-10ths,
.col-lg-10ths {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-10ths {
  width: 10%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-10ths {
    width: 10%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-10ths {
    width: 10%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-10ths {
    width: 10%;
    float: left;
  }
}