.footer {
    background-color: rgba(52,58,64,255);
    position: absolute;
    bottom: 0;
    padding-bottom: 30px;
    width: 100%;
    // height: 50px;
    margin-top: auto;
    position: relative;
}

.text {
    color: rgba(255,255,255,255);
    align-self: auto;
    margin-top: auto;
    margin-left: 10px;
}